<div class="box">
  <div class="container">

    <div class="top">
      <span>¿Listo para otro nuevo día?</span>
      <header>Iniciar Sesión</header>

    </div>

    <form class="sign-in-form" method="POST" autocomplete="off">

      <div class="input-field">
        <input type="text" class="input" placeholder="Nombre de Usuario" name="nombre_usuario_administrador" required>
        <i class='bx bx-user'></i>
      </div>

      <div class="input-field">
        <input type="Password" class="input" placeholder="Contraseña" name="password" required>
        <i class='bx bx-lock-alt'></i>
      </div>

      <div class="input-field">
        <input type="submit" class="submit" value="Iniciar Sesión" (click)="navegar()">
      </div>
    </form>

  </div>
</div>
