<div class="top">
  <div class="top1">
    <img src="../../../assets/img/cantuta.png" width="130" height="80">

  </div>
  <div class="top2">
    <h2>GREEN POWER</h2>

  </div>
  <div class="top3">
    <a (click)="navegar('home')">Log Out</a>
  </div>
</div>

<div class="container">

  <section class="opcion">
    <h1>Parámetros</h1>
    <img src="../../../assets/img/invernadero.png" width="200" height="200">
    <a (click)="navegar('parametros')">Ingresar</a>
  </section>

  <section class="opcion">
    <h1>Activación</h1>
    <img src="../../../assets/img/tarjeta-madre.png" width="200" height="200">
    <a (click)="navegar('activacion')">Ingresar</a>
  </section>


  <section class="opcion">
    <h1>Administración</h1>
    <img src="../../../assets/img/curriculum.png" width="200" height="200">
    <a (click)="navegar('administracion')">Ingresar</a>
  </section>

  <section class="opcion">
    <h1>Tablas</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/1827/1827251.png" width="200" height="200">
    <a (click)="navegar('tabla')">Ingresar</a>
  </section>
</div>
