<div class="container">

  <section class="clinica">
    <h1>Parametros</h1>
    <img src="../../../assets/img/curriculum.png" width="200" height="200">
    <a href="registro_clinica.php">Registro de Clínica</a>
    <a href="tabla_registros_clinica.php?filtro=ingresados">Mostrar Registros</a>
  </section>

  <section class="inventario">
    <h1>Activacion</h1>
    <img src="../../../assets/img/invernadero.png" width="200" height="200">
    <a href="registro_producto.php">Registro de Producto</a>
    <a href="tabla_productos.php">Mostrar Productos</a>
  </section>

  <section class="ventas">
    <h1>Ventas</h1>
    <img src="../../../assets/img/registro-en-linea.png" width="200" height="200">
    <a href="registro_venta.php">Realizar Venta</a>
    <a href="tabla_ventas.php">Mostrar Ventas</a>
    <a href="tabla_envolturas.php">Envoltorio/Adorno</a>
  </section>


  <section class="administracion">
    <img src="../../../assets/img/tarjeta-madre.png" width="200" height="200">
    <h1>Administración</h1>

  </section>

</div>
