<div class="mat-elevation-z8">
  <li *ngFor="let items of arduinos">
    {{ items.id }}
    {{ items.nombre }}
  </li>
<!--  <table mat-table [dataSource]="dataSource">-->

<!--    &lt;!&ndash; Position Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="position">-->
<!--      <th mat-header-cell *matHeaderCellDef> No. </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Name Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="name">-->
<!--      <th mat-header-cell *matHeaderCellDef> Name </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Weight Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="weight">-->
<!--      <th mat-header-cell *matHeaderCellDef> Weight </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.parametroMax}} </td>-->
<!--    </ng-container>-->


<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--  </table>-->

<!--  <mat-paginator [pageSizeOptions]="[5, 10, 20]"-->
<!--                 showFirstLastButtons-->
<!--                 aria-label="Select page of periodic elements">-->
<!--  </mat-paginator>-->
</div>
