
<div class="top">
  <div class="top1">
    <img src="../../../assets/img/cantuta.png" width="130" height="80">

  </div>
  <div class="top2">
    <h2>GREEN POWER</h2>

  </div>
  <div class="top3">
    <a (click)="navegar('home')">Log Out</a>
  </div>
</div>

<div class="boton" >
  <h1>Administración</h1>
  <!--  <mat-card-content>-->
  <form autocomplete="off">
    <div class="container">

      <div class="box">
        <span>Rol</span>
        <div class="input-box">
          <div class="divrol">
            <select  class="selectrol" name="rol" id="rol">
              <option value="Administrador">Administración</option>
              <option value="Normal">Normal</option>
            </select>
          </div>
        </div>
      </div>


      <div class="box">
        <span>Nombre usuario</span>
        <div class="input-box">
          <div>
            <input type="Text" name="nombreusuario" placeholder="Nombre Usuario" required>
          </div>
        </div>
      </div>

      <div class="box">
        <span>Password</span>
        <div class="input-box">
          <div>
            <input type="password" name="passwdusuario" placeholder="password" required>
          </div>
        </div>
      </div>
      <div class="box">
        <span>Nombre Completo</span>
        <div class="input-box">
          <input type="text" name="nombrecompleto" placeholder="Nombre Completo" required>
        </div>
      </div>

      <br>
      <button (click)="navegar('menu-principal')">
        <span>Atras</span>
      </button>
      <br>
      <button>
        <span>Siguiente</span>
      </button>

    </div>
  </form>


  <!--  </mat-card-content>-->
</div>
