
<div class="top">
  <div class="top1">
    <img src="../../../assets/img/cantuta.png" width="130" height="80">

  </div>
  <div class="top2">
    <h2>GREEN POWER</h2>

  </div>
  <div class="top3">
    <a (click)="navegar('home')">Log Out</a>
  </div>
</div>

<div class="boton" >
  <h1>Administración</h1>
  <!--  <mat-card-content>-->
  <form autocomplete="off">
    <div class="container">

      <div class="box">

        <div class="mat-elevation-z8">

          <mat-table [dataSource]="dataSource" class="centered-table">

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre de Usuario </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <!-- Rol Column -->
            <ng-container matColumnDef="nombreCompleto">
              <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
              <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
            </ng-container>

            <!-- Estado Column -->
            <ng-container matColumnDef="Estado">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>




            <!--    &lt;!&ndash; Weight Column &ndash;&gt;-->
            <!--    <ng-container matColumnDef="weight">-->
            <!--      <th mat-header-cell *matHeaderCellDef> Weight </th>-->
            <!--      <td mat-cell *matCellDef="let element"> {{element.parametroMax}} </td>-->
            <!--    </ng-container>-->


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[1, 2]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>

        <hr>

        <span>Rol</span>
        <div class="input-box">
          <div class="divrol">
            <select  class="selectrol" name="rol" id="rol">
              <option value="Administrador">Administración</option>
              <option value="Normal">Normal</option>
            </select>
          </div>
        </div>
      </div>


      <div class="box">
        <span>Nombre usuario</span>
        <div class="input-box">
          <div>
            <input type="Text" name="nombreusuario" placeholder="Nombre Usuario" required>
          </div>
        </div>
      </div>

      <div class="box">
        <span>Password</span>
        <div class="input-box">
          <div>
            <input type="password" name="passwdusuario" placeholder="password" required>
          </div>
        </div>
      </div>
      <div class="box">
        <span>Nombre Completo</span>
        <div class="input-box">
          <input type="text" name="nombrecompleto" placeholder="Nombre Completo" required>
        </div>
      </div>

      <br>
      <button (click)="navegar('menu-principal')">
        <span>Atras</span>
      </button>
      <br>
      <button>
        <span>Siguiente</span>
      </button>

    </div>
  </form>


  <!--  </mat-card-content>-->
</div>
